html {
  background-color: #778899;
}

body {
  width: 750px;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em;



  font-family: 'Cambria';
  font-weight: normal;
  font-style: normal;
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Navbar links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}.column {
    float: left;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}.footer {
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
body, pre, pre code {
  font-size: 18px;
}

a, a:visited {
  color: #FFFFF0;
}

h1, h2 {
  display: inline-block;
  border-bottom-style: dotted;
  border-bottom-color: #FFFFF0;
}

h1 {
  border-bottom-width: 10px;
}

h2 {
  border-bottom-width: 5px;
}

img, audio, iframe {
  width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%; /*16:9*/
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
